<template>
    <app-layout title="Users">
        <template #header>

            <div v-if="$attrs.flash.success" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-10" role="alert">
                <strong class="font-bold">{{ $attrs.flash.success }}</strong>
            </div>

            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                {{ userDetail.name }} {{ this.getRemainingVacationDays() }} Vacation days remaining
            </h2>

            <div class="mt-10 sm:mt-0">
                <div class="md:grid md:grid-cols-3 md:gap-6">
                    <div class="md:col-span-1 mt-10">
                        <div class="chart">
                            <Chart
                                :chartData="chartData"
                                :chartOptions="chartOptions"
                                :chartType="chartType" />
                        </div>

                    </div>
                    <div class="mt-5 md:mt-0 md:col-span-2">
                        <form @submit.prevent="form.put('/users/' + form.id)">
                            <div class="shadow overflow-hidden sm:rounded-md">
                                <div class="px-4 py-5 bg-white sm:p-6">
                                    <div class="grid grid-cols-6 gap-6">
                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium text-gray-700">First name</label>
                                            <input type="text" v-model="form.name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                            <div class="text-red-500" v-if="$attrs.errors.name">{{ $attrs.errors.name }}</div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium text-gray-700">Last name</label>
                                            <input type="text" v-model="form.name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                            <div class="text-red-500" v-if="$attrs.errors.name">{{ $attrs.errors.name }}</div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium text-gray-700">Job Title</label>
                                            <input type="text" v-model="form.job_title" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                            <div class="text-red-500" v-if="$attrs.errors.job_title">{{ $attrs.errors.job_title }}</div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium text-gray-700">Email address</label>
                                            <input type="text" v-model="form.email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                            <div class="text-red-500" v-if="$attrs.errors.email">{{ $attrs.errors.email }}</div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium text-gray-700">Birthdate</label>

                                            <DatePicker v-model="form.birthdate" mode="date" :model-config="birthdateConfig">
                                                <template v-slot="{ inputValue, inputEvents }">
                                                    <input
                                                        class="bg-white border px-2 py-1 rounded"
                                                        :value="inputValue"
                                                        v-on="inputEvents"
                                                    />
                                                </template>
                                            </DatePicker>
                                            <div class="text-red-500" v-if="$attrs.errors.birthdate">{{ $attrs.errors.birthdate }}</div>
                                        </div>

                                        <div class="col-span-1 sm:col-span-1">
                                            <label class="block text-sm font-medium text-gray-700">Has child</label>
                                            <input
                                                v-model="form.has_child"
                                                type="checkbox"
                                                name="toggle"
                                                id="toggle"
                                                class="mt-1 toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
                                            />
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium text-gray-700">Bonus vacation days</label>
                                            <input type="number" v-model="form.bonus_vacation" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                            <div class="text-red-500" v-if="$attrs.errors.bonus_vacation">{{ $attrs.errors.bonus_vacation }}</div>
                                        </div>

                                        <div class="md:col-span-5">
                                            <div class="px-4 sm:px-0">
                                                <h3 class="text-lg font-medium leading-6 text-gray-900">Remaining vocations</h3>
                                            </div>
                                        </div>

<!--                                        START -->
                                        <div class="md:col-span-5">
                                                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                                        <table class="min-w-full divide-y divide-gray-200">
                                                            <thead class="bg-gray-50">
                                                            <tr>
                                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    Year
                                                                </th>
                                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    Days
                                                                </th>
                                                            </tr>
                                                            </thead>

                                                            <tbody class="bg-white divide-y divide-gray-200">
                                                                <tr v-for="vacation in userDetail.data.userVacations">
                                                                    <td class="px-6 py-4 whitespace-nowrap">
                                                                        <div class="text-sm text-gray-500">{{ vacation.year }}</div>
                                                                    </td>
                                                                    <td class="px-6 py-4 whitespace-nowrap">
                                                                        <div class="text-sm text-gray-500">{{ vacation.days }}</div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </template>
    </app-layout>
</template>

<script>
import { defineComponent } from 'vue'
import { useForm } from '@inertiajs/inertia-vue3'
import AppLayout from '@/Layouts/AppLayout.vue'
import { Calendar, DatePicker } from 'v-calendar';
import Chart from "@/Pages/Components/Chart";

export default defineComponent({
    setup () {
        const form = useForm({
            id: null,
            name: null,
            email: null,
            job_title: null,
            birthdate: null,
            has_child: null,
            bonus_vacation: 0,
        })

        return { form }
    },
    data () {
        return {
            birthdateConfig: {
                type: 'string',
                mask: 'YYYY-MM-DD',
            },
            chartData: {
                labels:
                    this.getLabels(this.chartVacations),
                datasets: [
                    {
                        label: 'Vacation per month',
                        data: this.getData(this.chartVacations),
                        backgroundColor: 'red',
                        borderColor: 'red',
                        lineTension: 0,
                        pointBackgroundColor: "#ffc764",
                    },
                ],
            },
            chartOptions: {
                scales: {
                    xAxes: [
                        {
                            stacked: true,
                            gridLines: { display: false },
                        },
                    ],
                    yAxes: [
                        {
                            stacked: true
                        },
                    ],
                },
                maintainAspectRatio: false,
                legend: {
                    labels: {
                        boxWidth: 10,
                    },
                    position: "top",
                },
                animation: {
                    duration: 2000,
                    easing: "easeInOutQuart",
                },
            },
            chartType: 'bar'
        }
    },
    mounted() {
        this.setForm()
    },
    methods: {
        setForm () {
            this.form.id = this.userDetail.data.id
            this.form.name = this.userDetail.data.name
            this.form.email = this.userDetail.data.email
            this.form.job_title = this.userDetail.data.job_title
            this.form.birthdate = this.userDetail.data.birthdate
            this.form.has_child = Boolean(this.userDetail.data.has_child)
            this.form.bonus_vacation = this.userDetail.data.bonus_vacation
        },

        getLabels (query) {
            var labels = []

            for(var i=0; i<query.length; i++) {
                labels.push(query[i].label)
            }

            return labels
        },

        getData (query) {
            var data = []

            for(var i=0; i<query.length; i++) {
                data.push(query[i].data)
            }

            return data
        },

        getRemainingVacationDays () {
            var remaininDays = 0

            for(var i = 0; i < this.userDetail.data.userVacations.length; i++) {
                remaininDays += this.userDetail.data.userVacations[i].days
            }

            return remaininDays
        }
    },
    props: [
        'userDetail',
        'chartVacations',
        'attrs'
    ],
    components: {
        AppLayout,
        Calendar,
        DatePicker,
        Chart
    },
})
</script>
