<template>
    <app-layout title="Vacations">
        <template #header>

            <div v-if="$attrs.flash.success" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-10" role="alert">
                <strong class="font-bold">{{ $attrs.flash.success }}</strong>
            </div>

            <div v-if="$attrs.success" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-10" role="alert">
                <strong class="font-bold">{{ $attrs.success }}</strong>
            </div>

            <div v-if="$attrs.flash.error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-10" role="alert">
                <strong class="font-bold">{{ $attrs.flash.error }}</strong>
            </div>

            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                {{ form.name }}
            </h2>

            <div class="mt-10 sm:mt-0">
                <div class="md:grid md:grid-cols-3 md:gap-6">
                    <div class="md:col-span-1">
                        <div class="px-4 sm:px-0">
                            <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Calendar</h3>
                            <p class="mt-1 text-sm text-gray-600">
                            </p>
                        </div>
                    </div>
                    <div class="mt-5 md:mt-0 md:col-span-3">
                        <form @submit.prevent="form.put('/vacations/' + form.id)">
                            <div class="shadow overflow-hidden sm:rounded-md">
                                <div class="px-4 py-5 bg-white sm:p-6">
                                    <div class="grid grid-cols-6 gap-6">
                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium text-gray-700">User</label>
                                            <input type="text" v-model="form.username" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" disabled>
                                            <div class="text-red-500" v-if="$attrs.errors.username">{{ $attrs.errors.username }}</div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium text-gray-700">Request name</label>
                                            <input type="text" v-model="form.name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                            <div class="text-red-500" v-if="$attrs.errors.name">{{ $attrs.errors.name }}</div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-3" v-if="$page.props.user.is_admin">
                                            <label class="block text-sm font-medium text-gray-700">Status</label>
                                            <select v-model="form.status_id" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="vacationStatus in vacationStatuses" v-bind:value="vacationStatus.id" :style="{ color:vacationStatus.color }">{{ vacationStatus.value }}</option>
                                            </select>
                                        </div>

                                        <div class="col-span-6 sm:col-span-3" v-if="$page.props.user.is_admin">
                                            <label class="block text-sm font-medium text-gray-700">User</label>
                                            <input type="text" v-model="form.username" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" disabled>
                                            <div class="text-red-500" v-if="$attrs.errors.username">{{ $attrs.errors.username }}</div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium text-gray-700">Description</label>
                                            <textarea v-model="form.description" rows="6" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"></textarea>
                                            <div class="text-red-500" v-if="$attrs.errors.description">{{ $attrs.errors.description }}</div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium text-gray-700">Date range</label>

                                            <DatePicker
                                                v-model="form.range"
                                                :value="form.range"
                                                is-range class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                                is-expanded
                                            />
                                        </div>

                                    </div>
                                </div>
                                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </template>
    </app-layout>
</template>

<script>
import { defineComponent } from 'vue'
import { useForm } from '@inertiajs/inertia-vue3'
import AppLayout from '@/Layouts/AppLayout.vue'
import { Calendar, DatePicker } from 'v-calendar';

export default defineComponent({
    setup () {
        const form = useForm({
            id: null,
            username: null,
            user_id: null,
            name: null,
            status_id: null,
            description: null,
            range: {
                start: null,
                end: null
            }
        })

        return { form }
    },
    data() {
        return {
            vacationStatuses: [
                { id: 1, value: 'New', color: 'blue' },
                { id: 2, value: 'Accepted', color: 'green' },
                { id: 3, value: 'Rejected', color: 'red' }
            ],
        }
    },
    props: {
        vacation: {
            Type: Object,
            default: null
        },
    },
    methods: {
        setForm() {
            this.form.id = this.vacation.data.id
            this.form.name = this.vacation.data.name
            this.form.username = this.vacation.data.username
            this.form.user_id = this.vacation.data.user_id
            this.form.status_id = this.vacation.data.status_id
            this.form.description = this.vacation.data.description
            this.form.range.start = new Date(this.vacation.data.start)
            this.form.range.end = new Date(this.vacation.data.end)
        }
    },
    created() {
        this.setForm()
    },
    components: {
        AppLayout,
        Calendar,
        DatePicker,
    },
})
</script>
